# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Pickle files
*.pkl

# Ignore virtual environment
/.venv

# Ignore working json files
working_*.json

# Ignore updating secrets file
data/secrets.json